.radio-form-div {
  margin-top: 20px;
}

.game-mode-div {
  font-weight: bold;
}

.radio-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.radiobox {
  margin: 10px 20px 10px 20px;
}
