.Game {
  text-align: center;
}

body {
  font: 1em "Century Gothic", Futura, sans-serif;

  color: #1a065f;
}

h1 {
  font-size: 2.5em;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  margin-top: 7.5em;
  margin-bottom: 2.5em;
  height: 500px;
}

.game-info {
  margin-left: 20px;
}
